@model MVC_Attendance.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">@ViewBag.Title</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.EmployeeType)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.EmployeeType)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Salary)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Salary)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.HireDate)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.HireDate)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
