@model List<MVC_Attendance.Models.Employee>

@{
    ViewBag.Title = "Employee Index";
}

<h2>Employee Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Employee Type</th>
            @* <th>Salary</th>
             <th>Hire Date</th> *@
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmployeeType</td>
                @* <td>@employee.Salary</td>
                <td>@employee.HireDate.ToShortDateString()</td> *@
                <td>
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
