@model IEnumerable<MVC_Attendance.Models.StudentViewModel>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Show</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <input type="text" id="searchInput" placeholder="Search by email...">
    <button id="searchButton">Search</button>
</div>

<table id="studentTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.UniversityID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.GraduationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdIntakeTrack.Intake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdIntakeTrack.Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="studentTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.UniversityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Specialization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.GraduationYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdIntakeTrack.Intake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdIntakeTrack.Track)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Student.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Student.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Student.Id" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center" id="paginationContainer">
    <!-- Pagination buttons will be inserted here -->
</div>

    <script>
        $(document).ready(function () {
            $("#searchButton").click(function () {
                var searchText = $("#searchInput").val().toLowerCase();
                $("#studentTableBody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1);
                });
            });

            // Pagination
            var table = $('#studentTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": false,
                "autoWidth": false
            });

            $('#paginationContainer').append($('#studentTable_paginate'));
        });
    </script>

