@model MVC_Attendance.Models.Attendance

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body class="bg-light">

    <h3 class="text-center mt-4">Are you sure you want to delete this?</h3>
    <div class="container mt-3">
        <h4 class="mb-2">Attendance Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.AttendanceTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AttendanceTime)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.LeavingTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LeavingTime)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.Schedule)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Schedule.Id)
            </dd>
            <dt class="col-sm-2 font-weight-bold">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Id)
            </dd>
        </dl>

        <form asp-action="Delete" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Back to List</a>
        </form>
    </div>
</body>

</html>
