@model MVC_Attendance.Models.Attendance

@{
    // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeavingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeavingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Back to List </a>  | 
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-edit"></i></a>
</div>
</body>
</html>
